Hotels.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema 
    xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
    elementFormDefault="qualified">

  <!-- Root element -->
  <xsd:element name="Hotels">
    <xsd:complexType>
      <xsd:sequence>
        <!-- One or more Hotel elements -->
        <xsd:element name="Hotel" type="HotelType" maxOccurs="unbounded"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  
  <!-- Definition of HotelType -->
  <xsd:complexType name="HotelType">
    <xsd:sequence>
      <xsd:element name="Name" type="xsd:string"/>
      <!-- One or more Phone elements -->
      <xsd:element name="Phone" type="xsd:string" maxOccurs="unbounded"/>
      <!-- Address is required, includes an optional attribute -->
      <xsd:element name="Address" type="AddressType"/>
      <!-- Rating is optional -->
      <xsd:element name="Rating" type="xsd:decimal" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>

  <!-- Definition of AddressType -->
  <xsd:complexType name="AddressType">
    <xsd:sequence>
      <xsd:element name="Number" type="xsd:string"/>
      <xsd:element name="Street" type="xsd:string"/>
      <xsd:element name="City" type="xsd:string"/>
      <xsd:element name="State" type="xsd:string"/>
      <xsd:element name="Zip" type="xsd:string"/>
    </xsd:sequence>
    <!-- Optional attribute -->
    <xsd:attribute name="NearestAirport" type="xsd:string" use="optional"/>
  </xsd:complexType>

</xsd:schema>
